@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

a{
	color:#333;
	text-decoration: none;
}

nav{
	font-family: 'Montserrat', sans-serif;
	text-transform: lowercase;
	font-weight: 700;
	font-size: 16px;
	text-align: right;
	padding: 65px;
	word-spacing: 10px;
}

body{
	background-color:white;
	text-align: center;
	line-height: 1.5em;
}

h1{
	font-family: 'Montserrat', sans-serif;
	text-transform: lowercase;
	font-weight: 700;
	color:#333;
	font-size: 28px;
}


header{
	margin: 0 auto 65px auto; 
	text-align: left; 
	width: 550px;
}


p{
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color:#333;
	font-size: 16px;
}

section{

}

footer{
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color:#333;
	font-size: 16px;
	background-color: lightgray;
    padding: 20px;
    margin: 65px auto 0 auto; 
}

.wrapper{

}

.thumbnail{

}
