@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
}

nav{
	font-family: 'Montserrat', sans-serif;
	text-transform: lowercase;
	font-weight: 400;
	font-size: 16px;
	padding:25px 0;
	width: 100%;
	margin: 0 auto;
}

a{
	background-color: #fbfbfb;
	color:#333;
	text-decoration: none;
	display: block;
	float: right;
	padding: 20px;
}

a:hover{
	color:#aaaaaa;
}

#logo{
	display: inline-block;
	float:left;
	padding: 0 0 0 0px;
}

body{
	background-color: #fbfbfb;
	text-align: center;
	line-height: 1.5em;
}

h1{
	font-family: 'Montserrat', sans-serif;
	text-transform: lowercase;
	font-weight: 700;
	color:#333;
	font-size: 28px;
}


header{
	margin: 0 auto 65px auto; 
	text-align: left; 
	width: 550px;
}


p{
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color:#333;
	font-size: 16px;
}

section{
	/* width: 1400px; */
	margin: 0 auto;

}

footer{
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color:#333;
	font-size: 16px;
	background-color: lightgray;
    padding: 20px;
    margin: 65px auto 0 auto; 
}


.thumbnail{
	display: inline-block;
	padding: 13px;
	width: 48%;
}

.thumbnail:hover{
	opacity: 0.3;
}

.imgDescription{
	display:inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #000;
	visibility: hidden;
	opacity: 0;
}

.imgDescription:hover{
	opacity:1;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img{
	width:100%;
}
