@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

a{
	color:#333;
	text-decoration: none;
}

nav{
	font-family: 'Montserrat', sans-serif;
	text-transform: lowercase;
	font-weight: 700;
	font-size: 16px;
	text-align: right;
	margin: 2em 0;
	word-spacing: 10px;
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

body{
	background-color:white;
	text-align: center;
	line-height: 1.5em;
}

h1{
	font-family: 'Montserrat', sans-serif;
	text-transform: lowercase;
	font-weight: 700;
	color:#333;
	font-size: 28px;
}


header{
	margin: 4em auto; text-align: left; width: 550px;
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}


p{
	font-family: 'Raleway', sans-serif;
	font-weight: light;
	color:#333;
	font-size: 16px;
}

section{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer{
	font-family: 'Raleway', sans-serif;
	font-weight: light;
	color:#333;
	font-size: 16px;
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

.wrapper{
	background-color: lightyellow;
}
